body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

.searchInput {
  display: flex;
  flex-direction: row;
}

.sign-upForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
}

button {
  align-items: center;
  border: 2px solid linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  background-color: rgb(5, 6, 45);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  line-height: 1em;
  letter-spacing: 4px;
  max-width: 100%;
  padding: 16px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 300ms;
}

button:active,
button:hover {
  outline: 0;
}

button:hover span {
  background: none;
}

@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 196px;
  }
}
